# Default attributes
* text git-encoding=utf-8 zos-working-tree-encoding=ibm-1047
.gitattributes zos-working-tree-encoding=iso8859-1
.gitignore zos-working-tree-encoding=iso8859-1

/mvnw text eol=lf
*.cmd text eol=crlf

/.mvn/** text git-encoding=utf8 zos-working-tree-encoding=utf8 working-tree-encoding=utf8
/** text git-encoding=utf8 zos-working-tree-encoding=utf8 working-tree-encoding=utf8
